.document-pole {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 2rem;
    background:#F9F9F9;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-weight: 700;
}

